*{
    margin: 100%;
    width: 100%;
    height: 100%;
    padding: 0;
}

body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20%;
}