*{
    margin: 100%;
    width: 100%;
    height: 100%;
    padding: 0;
}

body{
    background-color: black;
}
h1{
    color: black;
    text-align: left
    font-size: 70px;
    font-family: Arial;
    margin-top: 10%;
}